api_url: http://127.0.0.1:8080
login: 3f8498c7c1ad40e6b84ace8bd060ce23H3NXJboRXBxRHBWd
password: nWcx12fycmEzRm2rUFHyOJz7HYllvU9JIBbsdRDTRT3ikVmOP9oqSQvGqC7XMLKr
output: human
hub_branch: ""
hub_url: https://hub.crowdsec.net 