[Unit]
Description=Run GitHub Runner Auto-Registration every {{ scan_interval_minutes }} minutes
Requires={{ systemd_service_name }}.service

[Timer]
OnBootSec=1min
OnUnitActiveSec={{ scan_interval_minutes }}min
Unit={{ systemd_service_name }}.service

[Install]
WantedBy=timers.target 